gridftp/gfork/advertiser/compact/gridftp/info/gridftp_advertise_port_type_compact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 1999-2006 University of Chicago
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<definitions name="GridFTPAdvertise"
    targetNamespace="http://gridftp.globus.org/namespaces/2008/09/advertise"
    xmlns:tns="http://gridftp.globus.org/namespaces/2008/09/advertise"
    xmlns:wsa="http://www.w3.org/2005/08/addressing" 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrlw=
    "http://docs.oasis-open.org/wsrf/rlw-2"
    xmlns:wsrp=
    "http://docs.oasis-open.org/wsrf/rp-2" 
    xmlns:wsrpw=
    "http://docs.oasis-open.org/wsrf/rpw-2" 
    xmlns:wsntw=
    "http://docs.oasis-open.org/wsn/bw-2" 
    xmlns:wsbf="http://docs.oasis-open.org/wsrf/bf-2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:import 
        namespace=
        "http://docs.oasis-open.org/wsrf/rpw-2" 
        location="../../wsrf/properties/rpw-2.wsdl" />
    
    <wsdl:import 
        namespace=
        "http://docs.oasis-open.org/wsrf/rlw-2"
        location="../../wsrf/lifetime/rlw-2.wsdl" />

    <wsdl:import 
        namespace=
        "http://docs.oasis-open.org/wsn/bw-2"
        location="../../wsrf/notification/bw-2.wsdl" />

    <types>
        <xsd:schema targetNamespace=
            "http://gridftp.globus.org/namespaces/2008/09/advertise"
            xmlns:tns="http://gridftp.globus.org/namespaces/2008/09/advertise"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

            <xsd:import 
                namespace=
                "http://www.w3.org/2005/08/addressing"
                schemaLocation="../../ws/addressing/ws-addr.xsd" 
                />

            <xsd:import 
                namespace="http://docs.oasis-open.org/wsrf/bf-2"
                schemaLocation="../../wsrf/faults/bf-2.xsd"/>

            <xsd:element name="frontendInfo">
                <xsd:complexType><xsd:sequence>
                    <xsd:element name="maxConnections" type="xsd:int"/>
                    <xsd:element name="openConnections" type="xsd:int"/>
                    <xsd:element name="approximateLoad" type="xsd:float"
                        minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="totalSessions" type="xsd:long"
                        minOccurs="0" maxOccurs="1"/>
                </xsd:sequence></xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>


    <portType name="GridFTPAdvertisePortType"
        wsrp:ResourceProperties ="tns:frontendInfo"
        wsdlpp:extends=" wsntw:NotificationProducer 
                            wsrpw:GetMultipleResourceProperties
                            wsrpw:QueryResourceProperties
                            wsrlw:ImmediateResourceTermination
                            wsrpw:GetResourceProperty
                            wsrlw:ScheduledResourceTermination ">
        
    </portType>

</definitions>
