data_management/filestreaming/schema/base/gram/file_streaming_types.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FileStreamingServiceDefinition"
    targetNamespace="http://www.globus.org/namespaces/filestreaming/file_streaming_types"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <schema targetNamespace="http://www.globus.org/namespaces/filestreaming/file_streaming_types"
                xmlns:file-streaming-types="http://www.globus.org/namespaces/filestreaming/file_streaming_types"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified"
                elementFormDefault="qualified">

            <xsd:complexType name="FileStreamingOptionsType">
                <xsd:sequence>
                    <xsd:element name="destinationURL" type="xsd:string"/>
                    <xsd:element name="offset" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="FileStreamingType">
                <xsd:sequence>
                    <xsd:element name="path" type="xsd:string"/>
                    <xsd:element name="callBack" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="FileStreamingOptionsElement">
                <xsd:sequence>
                    <xsd:element name="options" type="file-streaming-types:FileStreamingOptionsType"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="FileStreamingElement">
                <xsd:sequence>
                    <xsd:element name="localPath" type="file-streaming-types:FileStreamingType"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="DestinationURLElement">
                <xsd:sequence>
                    <xsd:element name="DestinationURL" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </schema>
    </types>
</definitions>
