gsi/grim/etc/port-type.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            Schema for GRIM port type file
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="authorized_port_types" type="AuthorizedPortTypes"/>

    <xsd:complexType name="AuthorizedPortTypes">
        <xsd:sequence>
            <xsd:element name="port_type" type="GrimPortType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GrimPortType" type="xsd:string"/>
        <xsd:attribute name="username" type="xsd:string"/>
        <xsd:attribute name="group" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>
