data_management/multirft/schema/base/multirft/multirft_types.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MultiFileRFTTypes"
  targetNamespace="http://www.globus.org/namespaces/2004/04/rft/rft_types"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

<wsdl:types>
<xsd:schema targetNamespace="http://www.globus.org/namespaces/2004/04/rft/rft_types"
             xmlns:rft-types="http://www.globus.org/namespaces/2004/04/rft/rft_types"
             attributeFormDefault="qualified"
             elementFormDefault="qualified"
	     xmlns="http://www.w3.org/2001/XMLSchema">

<xsd:complexType name="RFTAttributesElement">
    <xsd:sequence>
        <xsd:element name="rftOptions" type="rft-types:RFTOptionsType"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RFTOptionsType">
    <xsd:sequence>
        <xsd:element name="binary" type="boolean"/>
        <xsd:element name="blockSize" type="long"/>
        <xsd:element name="tcpBufferSize" type="int"/>
        <xsd:element name="notpt" type="boolean"/>
        <xsd:element name="parallelStreams" type="int"/>
        <xsd:element name="dcau" type="boolean"/>
        <xsd:element name="subjectName" type="string"/>
        <xsd:element name="destinationSubjectName" type="string"/>
        <xsd:element name="sourceSubjectName" type="string"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransferType">
    <xsd:sequence>
        <xsd:element name="transferId" type="int"/>
        <xsd:element name="sourceUrl" type="string"/>
        <xsd:element name="destinationUrl" type="string"/>
        <xsd:element name="rftOptions" type="rft-types:RFTOptionsType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransferElement">
    <xsd:sequence>
        <xsd:element name="transfer" type="rft-types:TransferType"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TransferRequestType">
    <xsd:sequence>
        <xsd:element name="transferArray" type="rft-types:TransferType" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="rftOptions" type="rft-types:RFTOptionsType" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="concurrency" type="int" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransferRequestElement">
    <xsd:sequence>
        <xsd:element name="transferRequest" type="rft-types:TransferRequestType"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FileTransferProgressType">
    <xsd:sequence>
        <xsd:element name="percentComplete" type="int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="Version">
    <xsd:sequence>
        <xsd:element name="version" type="string"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FileTransferRestartMarker">
    <xsd:sequence>
        <xsd:element name="restartMarkerRange" type="int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransfersFinished">
    <xsd:sequence>
        <xsd:element name="numberFinished" type="int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransfersActive">
    <xsd:sequence>
        <xsd:element name="numberActive" type="int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransfersPending">
    <xsd:sequence>
        <xsd:element name="numberPending" type="int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransfersFailed">
    <xsd:sequence>
        <xsd:element name="numberFailed" type="int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransfersRestarted">
    <xsd:sequence>
        <xsd:element name="numberRestarted" type="int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransfersCancelled">
    <xsd:sequence>
        <xsd:element name="numberCancelled" type="int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="OverallStatus">
    <xsd:sequence>
        <xsd:element name="transfersFinished" type="rft-types:TransfersFinished"/>
        <xsd:element name="transfersActive" type="rft-types:TransfersActive"/>
        <xsd:element name="transfersPending" type="rft-types:TransfersPending"/>
        <xsd:element name="transfersFailed" type="rft-types:TransfersFailed"/>
        <xsd:element name="transfersRestarted" type="rft-types:TransfersRestarted"/>
        <xsd:element name="transfersCancelled" type="rft-types:TransfersCancelled"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GridFTPRestartMarkerType">
    <xsd:sequence>
        <xsd:element name="transferId" type="int"/>
        <xsd:element name="restartMarker" type="string"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GridFTPPerfMarkerType">
    <xsd:sequence>
        <xsd:element name="transferId" type="int"/>
        <xsd:element name="timeStamp" type="double"/>
        <xsd:element name="stripeIndex" type="long"/>
        <xsd:element name="stripeBytesTransferred" type="long"/>
        <xsd:element name="totalStripeCount" type="long"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GridFTPRestartMarkerElement">
    <xsd:sequence>
        <xsd:element name="gridFTPRestartMarker" type="rft-types:GridFTPRestartMarkerType"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GridFTPPerfMarkerElement">
    <xsd:sequence>
        <xsd:element name="gridFTPPerfMarker" type="rft-types:GridFTPPerfMarkerType"/>
    </xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="TransferStatusType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Finished"/>
        <xsd:enumeration value="Retrying"/>
        <xsd:enumeration value="Failed"/>
        <xsd:enumeration value="Active"/>
        <xsd:enumeration value="Pending"/>
        <xsd:enumeration value="Cancelled"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FileTransferJobStatusType">
    <xsd:sequence>
        <xsd:element name="transferId" type="int"/>
        <xsd:element name="destinationUrl" type="string"/>
        <xsd:element name="status" type="rft-types:TransferStatusType"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FileTransferStatusElement">
    <xsd:sequence>
        <xsd:element name="requestStatus" type="rft-types:FileTransferJobStatusType"/>
    </xsd:sequence>
</xsd:complexType>

</xsd:schema>

</wsdl:types>

</wsdl:definitions>


