data_management/filetransfer/rft/schema/base/reliabletransfer/reliable_transfer_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ReliableTransferDefinition"
             targetNamespace="http://reliabletransfer.base.ogsa.globus.org/reliable_transfer_port_type"
             xmlns:tns="http://reliabletransfer.base.ogsa.globus.org/reliable_transfer_port_type"
             xmlns:gsdl="http://www.gridforum.org/namespaces/2002/10/gridServices"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:reliable-transfer-types="http://reliabletransfer.base.ogsa.globus.org/reliable_transfer_types"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<import location="reliable_transfer_types.wsdl"
    namespace="http://reliabletransfer.base.ogsa.globus.org/reliable_transfer_types"/>
<types>
    <xsd:schema targetNamespace="http://reliabletransfer.base.ogsa.globus.org/reliable_transfer_port_type"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                
   <xsd:element name="submitTransferJob">
     <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fromURL" type="xsd:string"/>
        <xsd:element name="toURL" type="xsd:string"/>
        <xsd:element name="transferOptions" type="reliable-transfer-types:ReliableTransferAttributes"/>
       </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   <xsd:element name="submitTransferJobResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="transferJobID" type="xsd:int"/>
       </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getStatus">
  <xsd:complexType/>
</xsd:element>
<xsd:element name="getStatusResponse">
 <xsd:complexType>
 <xsd:sequence>
 <xsd:element name="status" type="xsd:int"/>
 </xsd:sequence>
 </xsd:complexType>
</xsd:element>
<xsd:element name="cancelTransfer">
<xsd:complexType>
 <xsd:sequence>
 <xsd:element name="transferJobID" type="xsd:int"/>
 </xsd:sequence>
 </xsd:complexType>
</xsd:element>
<xsd:element name="cancelTransferResponse">
 <xsd:complexType/>
  </xsd:element>
</xsd:schema>
</types>
<message name="submitTransferJobInputMessage">
 <part name="parameters" element="tns:submitTransferJob"/>
</message>
<message name="submitTransferJobOutputMessage">
 <part name="parameters" element="tns:submitTransferJobResponse"/>
</message>
<message name="getStatusInputMessage">
 <part name="parameters" element="tns:getStatus"/>
</message>
<message name="getStatusOutputMessage">
 <part name="parameters" element="tns:getStatusResponse"/>
</message>
<message name="cancelTransferInputMessage">
 <part name="parameters" element="tns:cancelTransfer"/>
</message>
<message name="cancelTransferOutputMessage">
 <part name="parameters" element="tns:cancelTransferResponse"/>
</message>

<portType name="ReliableTransferPortType">
 <operation name="submitTransferJob">
  <input message="tns:submitTransferJobInputMessage"/>
  <output message="tns:submitTransferJobOutputMessage"/>
 </operation>
  <operation name="getStatus">
  <input message="tns:getStatusInputMessage"/>
  <output message="tns:getStatusOutputMessage"/>
 </operation>
 <operation name="cancelTransfer">
  <input message="tns:cancelTransferInputMessage"/>
  <output message="tns:cancelTransferOutputMessage"/>
 </operation>
</portType>
<gsdl:serviceDataDescription name="FileTransferProgress"
                             element="reliable-transfer-types:percentComplete"
                             maxOccurs="1"
                             minOccurs="1"
                             mutability="mutable">
</gsdl:serviceDataDescription>
<gsdl:serviceDataDescription name="FileTransferRestartMarker"
                             element="reliable-transfer-types:restartMarkerRange"
                             maxOccurs="1"
                             minOccurs="1"
                             mutability="mutable">
</gsdl:serviceDataDescription>

</definitions>


  
