data_management/filetransfer/rft/schema/base/reliabletransfer/reliable_transfer_types.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ReliableTransferServiceDefinition"
  targetNamespace="http://reliabletransfer.base.ogsa.globus.org/reliable_transfer_types"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

<wsdl:types>
<schema targetNamespace="http://reliabletransfer.base.ogsa.globus.org/reliable_transfer_types"
             xmlns:reliable-transfer-types="http://reliabletransfer.base.ogsa.globus.org/reliable_transfer_types"
             attributeFormDefault="qualified"
             elementFormDefault="qualified"
	     xmlns="http://www.w3.org/2001/XMLSchema">
<complexType name="ReliableTransferAttributes">
    <sequence>
        <element name="reliableTransferOptions" type="reliable-transfer-types:ReliableTransferOptions"/>
    </sequence>
</complexType>
<complexType name="ReliableTransferOptions">
    <sequence>
        <element name="tcpBufferSize" type="int"/>
        <element name="parallelStreams" type="int"/>
        <element name="dcau" type="boolean"/>
    </sequence>
</complexType>
<complexType name="FileTransferProgressType">
    <sequence>
        <element name="percentComplete" type="int"/>
    </sequence>
</complexType>
<complexType name="FileTransferRestartMarker">
    <sequence>
        <element name="restartMarkerRange" type="int"/>
    </sequence>
</complexType>

</schema>

</wsdl:types>

</wsdl:definitions>


